<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../layui/css/layui.css" />
	</head>

	<body>
		<!--<div class="layui-inline" style="margin-top: 20px;margin-left: 80px;">
			<label class="layui-form-label"><a style="color:red;">*</a>序号</label>
			<div class="layui-input-inline">
				<input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
			</div>
		</div>
-->
		<div class="layui-inline" style="margin-top: 20px;margin-left: 80px;">
			<label class="layui-form-label"><a style="color:red;">*</a>品牌编号</label>
			<div class="layui-input-inline">
				<input type="tel" name="pbianh" lay-verify="required|phone" autocomplete="off" class="layui-input">
			</div>
		</div>

		<div class="layui-inline" style="margin-top: 20px;margin-left: 80px;">
			<label class="layui-form-label"><a style="color:red;">*</a>品牌名称</label>
			<div class="layui-input-inline">
				<input type="tel" name="pname" lay-verify="required|phone" autocomplete="off" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item" style="margin-top: 20px;margin-left: 120px;">
			<div class="layui-input-block">
				<button type="submit" class="layui-btn" lay-submit="" id="baocun" lay-filter="demo1">保存</button>
			</div>
		</div>
	</body>
	<script src="../../layui/layui.js"></script>
	<script>
		layui.use(['form', 'layer', 'table', 'laytpl'], function() {
			
			var form = layui.form,
				layer = parent.layer === undefined ? layui.layer : top.layer,
				$ = layui.jquery,
				laytpl = layui.laytpl,
				table = layui.table,
				util = layui.util;

			function dateNew(d) {
				var dateV = new Date(parseInt(d));
				var year = dateV.getFullYear();
				var month = dateV.getMonth() + 1;
				month = month < 10 ? '0' + month : month;
				var date = dateV.getDate();
				date = date < 10 ? ("0" + date) : date;
				var hour = dateV.getHours();
				hour = hour < 10 ? ("0" + hour) : hour;
				var minute = dateV.getMinutes();
				minute = minute < 10 ? ("0" + minute) : minute;
				var second = dateV.getSeconds();
				second = second < 10 ? ("0" + second) : second;
				return year + "-" + month + "-" + date;
			}
			
			$("#baocun").click(function(){
				var pbianh = $("[name=pbianh]").val();
				var pname = $("[name=pname]").val();
				$.post("http://127.0.0.1:8080/dzw_sys/api/vehlmf/addinsertVehivo",{vbrandno:pbianh,vbrandname:pname},function(data){
					if(data){
						CloseWin();
					}
				})
			})
			
			function CloseWin() {
				parent.location.reload(); // 父页面刷新
				var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
				parent.layer.close(index); //再执行关闭 
			}
			
		});
	</script>
</html>